<header class="site-header">
  <div class="header-container">
    <!-- Left: Home Image / Link -->
    <div class="header-left">
      <a href="/">
        <img src="" alt="Home" class="header-home-img">
      </a>
    </div>

    <!-- Center: Logo -->
    <div class="header-center">
      <img src="" alt="Site Logo" class="header-logo">
    </div>

    <!-- Right: Picture -->
    <div class="header-right">
      <img src="" alt="Profile or Decorative Image" class="header-pic">
    </div>
  </div>
</header>
