<header class="site-header">
  <div class="header-container">
    <div class="header-left">
      {{#unless hideHome}}
        <a href="/home">
          <h3>Home</h3>
        </a>
      {{/unless}}
    </div>

    <div class="header-center">
      <h1>RepQuest</h1>
    </div>

    <div class="header-right">
      <h3>Streak</h3>
    </div>
  </div>
</header>
