<header class="site-header">
  <div class="header-container">
    {{!-- <div class="header-left">
      {{#unless hideHome}}
      <a href="/home">
        <h3>Home</h3>
      </a>
      {{/unless}}
    </div> --}}

   <div class="header-left">
      {{#unless hideHome}}
      <a href="/profile">
        <img 
          class="profile-pic-header" 
          src="{{#if profilePic}}{{profilePic}}{{else}}/img/default_pp.png{{/if}}" 
          alt="Profile Picture"
        >
      </a>
      {{/unless}}
    </div>

    <div class="header-center">
      <h1>RepQuest</h1>
    </div>

    <div class="header-streak">
      {{#if streak}}
      <span>Current streak: {{streak}} days</span>
      {{else}}
      <span>Current streak: 0 days</span>
      {{/if}}
    </div>
  </div>
</header>