<header class="site-header">
  <div class="header-container">
    <!-- Left: Home Image / Link -->
    <div class="header-left">
      <a href="/home">
        <h3>Home</h3>
      </a>
    </div>

    <!-- Center: Logo -->
    <div class="header-center">
      <h1>RepQuest</h1>
    </div>

    <!-- Right: Picture -->
    <div class="header-right">
      <h3>Streak</h3>
    </div>
  </div>
</header>
