<div id="onboarding-overlay" class="onboarding hidden">
  <div class="onboarding-content">
    <button id="onboarding-skip" class="onboarding-skip">Skip ✕</button>

    <div id="onboarding-step-1" class="onboarding-step">
      <h2>Welcome to BuffBuffs!</h2>
      <p>We make lifting fun by gamifying your workouts. Let's do a 10 second tour.</p>
      <button class="onboarding-next" data-next="2">Next</button>
    </div>

    <div id="onboarding-step-2" class="onboarding-step hidden">
      <h2>Home page</h2>
      <p>See your workout path ahead of you and motivate you to stay at it. Login daily to maintain your streak and track your progress</p>
      <button class="onboarding-prev" data-prev="1">Back</button>
      <button class="onboarding-next" data-next="3">Next</button>
    </div>

    <div id="onboarding-step-3" class="onboarding-step hidden">
      <h2>Workouts Page</h2>
      <p>See your curated workout plan in detail. Will provide the excersise, reps, and sets that you need to do to see progress fast</p>
      <button class="onboarding-prev" data-prev="2">Back</button>
      <button class="onboarding-next" data-next="4">Next</button>
    </div>

    <div id="onboarding-step-4" class="onboarding-step hidden">
      <h2>Calendar Page</h2>
      <p>See your workout schedual laid out for you week by week</p>
      <button class="onboarding-prev" data-prev="3">Back</button>
      <button class="onboarding-next" data-next="5">Next</button>
    </div>

    <div id="onboarding-step-5" class="onboarding-step hidden">
      <h2>Achievements Page</h2>
      <p>As you workout you will unlock achievements, go to the achievements page to see everthing you have accomplished, and what you can work towards.</p>
      <button class="onboarding-prev" data-prev="4">Back</button>
      <button class="onboarding-next" data-next="6">Next</button>
    </div>

    <div id="onboarding-step-6" class="onboarding-step hidden">
      <h2>Profile Page</h2>
      <p>You can see your username, change your profile picture, and logout by visiting the Profile Page.</p>
      <button class="onboarding-prev" data-prev="5">Back</button>
      <button id="onboarding-done">Finish</button>
    </div>
  </div>
</div>