<main class="main-content">
  <h1 class="text-center text-3xl font-semibold">Achievements</h1>

  <div class="container">
    <div class="achievements-grid">
      <div class="col">
        <img src="/img/temptrophy.jpg" alt="Achievement 1">
        <p class="achievement-label">First Achievement</p>
      </div>

      <div class="col">
        <img src="/img/temptrophy.jpg" alt="Achievement 2">
        <p class="achievement-label">Second Achievement</p>
      </div>

      <div class="col">
        <img src="/img/temptrophy.jpg" alt="Achievement 3">
        <p class="achievement-label">Third Achievement</p>
      </div>

      <div class="col">
        <img src="/img/temptrophy.jpg" alt="Achievement 4">
        <p class="achievement-label">Fourth Achievement</p>
      </div>

      <div class="col">
        <img src="/img/temptrophy.jpg" alt="Achievement 5">
        <p class="achievement-label">Fifth Achievement</p>
      </div>

      <div class="col">
        <img src="/img/temptrophy.jpg" alt="Achievement 6">
        <p class="achievement-label">Sixth Achievement</p>
      </div>

      <div class="col">
        <img src="/img/temptrophy.jpg" alt="Achievement 7">
        <p class="achievement-label">Seventh Achievement</p>
      </div>

      <div class="col">
        <img src="/img/temptrophy.jpg" alt="Achievement 8">
        <p class="achievement-label">Eighth Achievement</p>
      </div>

      <div class="col">
        <img src="/img/temptrophy.jpg" alt="Achievement 9">
        <p class="achievement-label">Ninth Achievement</p>
      </div>
    </div>
  </div>
</main>
