{{!-- <div class="container mt-4 mb-5 pb-5" style="max-width: 420px;">
  {{> message}}

  <h2 class="mb-3">Login</h2>

  <form action="/login" method="POST">

    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" required />
    </div>

    <div class="mb-3">

      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" required />
    </div>

    <button type="submit" class="btn btn-primary w-100">Login</button>
  </form>

  <div class="mt-3 text-center">

    <small>Don't have an account?

      <a href="/register">Register</a>

    </small>

  </div>
</div> --}}


<section class="background">

  <div class="container mt-5" style="max-width: 400px;">
    {{!-- {{> message}} --}}

    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="box">
      <div class="square" style="--i:0;"></div>
      <div class="square" style="--i:1;"></div>
      <div class="square" style="--i:2;"></div>
      <div class="square" style="--i:3;"></div>
      <div class="square" style="--i:4;"></div>
      <div class="container-form">

        <div class="form">

          <div class="form">
            <h2>Login</h2>

            <form action="/login" method="POST">
              <div class="inputBox">
                <input type="text" id="username" name="username" placeholder="Username" required />
              </div>

              <div class="inputBox">
                <input type="password" id="password" name="password" placeholder="Password" required />
              </div>

              <div class="inputBox">
                <input type="submit" value="Login" />
              </div>
            </form>

            {{#if message}}
            <div class="alert alert-warning" role="alert">{{message}}</div>
            {{/if}}

            <div class="form_text">
              <small>Don't have an account? <a href="/register">Register</a></small>
            </div>

            <form action="/guest" method="POST" style="margin-top: 12px;">
              <div class="inputBox">
                <input type="submit" value="Guest" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
</section>